@page "/profile/change-password"
@model App.Web.Areas.Public.Pages.Profile.ChangePassword

@{
    var pageTitle = "Change Password";
    ViewData["Title"] = pageTitle;
}

<div class="row mb-4">
    <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-12">
        <h2 class="mb-4">@pageTitle</h2>
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <form asp-page="@RouteNames.Profile.ChangePassword" method="post" novalidate>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.CurrentPassword"></label>
                            <input type="password" class="form-control @Model.HasError("CurrentPassword")"
                                asp-for="Form.CurrentPassword" required>
                            <div class="invalid-feedback">@Model.ErrorMessageFor("CurrentPassword")</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.NewPassword"></label>
                            <input type="password" class="form-control @Model.HasError("NewPassword")"
                                asp-for="Form.NewPassword" required minlength="8">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("NewPassword")</div>
                            <div class="form-text">Password must be at least 8 characters.</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label class="form-label raytha-required" asp-for="Form.ConfirmNewPassword"></label>
                            <input type="password" class="form-control @Model.HasError("ConfirmNewPassword")"
                                asp-for="Form.ConfirmNewPassword" required minlength="8">
                            <div class="invalid-feedback">@Model.ErrorMessageFor("ConfirmNewPassword")</div>
                            <div class="form-text">Password must match the above.</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

