@page "/admin/tickets/teams"
@model App.Web.Areas.Admin.Pages.Teams.Index
@using App.Web.Areas.Shared.Models

@{
    var pageTitle = "Teams";
    Layout = "SidebarLayout";
    ViewData["Title"] = pageTitle;
    ViewData["ActiveMenu"] = "Teams";
    ViewData["ExpandTicketingMenu"] = true;
}

<div>
    <partial name="_Partials/PageHeading" model="pageTitle" />

    @if (Model.CanManageTeams)
    {
        @(await Html.PartialAsync("_Partials/TableCreateAndSearchBar", new BaseTableCreateAndSearchBarViewModel
        {
            Pagination = Model.ListView,
            EntityName = "team",
            CreateActionName = RouteNames.Teams.Create
        }))
        }
    else
    {
        @(await Html.PartialAsync("_Partials/TableCreateAndSearchBar", new BaseTableCreateAndSearchBarViewModel
        {
            Pagination = Model.ListView,
            EntityName = "team",
            CreateActionName = ""
        }))
        }

    <div class="raytha-data-card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            @(await Html.PartialAsync("_Partials/TableColumnHeader", new
                                                        BaseTableColumnHeaderViewModel()
                            {
                                Pagination = Model.ListView,
                                PropertyName = "Name",
                                IsFirst = true,
                                DisplayName =
                                                        ViewModelExtensions.GetDisplayName<App.Web.Areas.Admin.Pages.Teams.Index.TeamListItemViewModel>(p
                                                        => p.Name)
                            }))
                            @(await Html.PartialAsync("_Partials/TableColumnHeader", new
                                                        BaseTableColumnHeaderViewModel()
                            {
                                Pagination = Model.ListView,
                                PropertyName = "Description",
                                DisplayName =
                                                        ViewModelExtensions.GetDisplayName<App.Web.Areas.Admin.Pages.Teams.Index.TeamListItemViewModel>(p
                                                        => p.Description)
                            }))
                            @(await Html.PartialAsync("_Partials/TableColumnHeader", new
                                                        BaseTableColumnHeaderViewModel()
                            {
                                Pagination = Model.ListView,
                                PropertyName = "MemberCount",
                                DisplayName =
                                                        ViewModelExtensions.GetDisplayName<App.Web.Areas.Admin.Pages.Teams.Index.TeamListItemViewModel>(p
                                                        => p.MemberCount)
                            }))
                            @(await Html.PartialAsync("_Partials/TableColumnHeader", new
                                                        BaseTableColumnHeaderViewModel()
                            {
                                Pagination = Model.ListView,
                                PropertyName = "AssignableMemberCount",
                                DisplayName =
                                                        ViewModelExtensions.GetDisplayName<App.Web.Areas.Admin.Pages.Teams.Index.TeamListItemViewModel>(p
                                                        => p.AssignableMemberCount)
                            }))
                            @(await Html.PartialAsync("_Partials/TableColumnHeader", new
                                                        BaseTableColumnHeaderViewModel()
                            {
                                Pagination = Model.ListView,
                                PropertyName = "RoundRobinEnabled",
                                DisplayName =
                                                        ViewModelExtensions.GetDisplayName<App.Web.Areas.Admin.Pages.Teams.Index.TeamListItemViewModel>(p
                                                        => p.RoundRobinEnabled)
                            }))
                            @(await Html.PartialAsync("_Partials/TableColumnHeader", new
                                                        BaseTableColumnHeaderViewModel()
                            {
                                Pagination = Model.ListView,
                                PropertyName = "CreationTime",
                                DisplayName =
                                                        ViewModelExtensions.GetDisplayName<App.Web.Areas.Admin.Pages.Teams.Index.TeamListItemViewModel>(p
                                                        => p.CreationTime)
                            }))
                            <th class="border-0 rounded-end text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!Model.ListView.Items.Any())
                        {
                            <tr>
                                <td colspan="7" class="text-center py-4 text-muted">
                                    <i class="bi bi-people fs-1 d-block mb-2"></i>
                                    No teams found
                                </td>
                            </tr>
                        }
                        @foreach (var team in Model.ListView.Items)
                        {
                            <tr>
                                <td>
                                    <a asp-page="@RouteNames.Teams.Edit" asp-route-id="@team.Id" class="fw-semibold">
                                        @team.Name
                                    </a>
                                </td>
                                <td>@(team.Description.Length > 50 ? team.Description.Substring(0, 47) + "..." :
                                                                    team.Description)</td>
                            <td>@team.MemberCount</td>
                            <td>@team.AssignableMemberCount</td>
                            <td>
                                @if (team.RoundRobinEnabled == "Yes")
                                    {
                                        <span class="badge bg-success">Enabled</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Disabled</span>
                                    }
                                </td>
                                <td>@team.CreationTime</td>
                                <td class="text-end">
                                    <div class="btn-group btn-group-sm">
                                        <a asp-page="@RouteNames.Teams.Members.Index" asp-route-teamId="@team.Id"
                                            class="btn btn-outline-primary">
                                            Members
                                        </a>
                                        @if (Model.CanManageTeams)
                                        {
                                            <a asp-page="@RouteNames.Teams.Edit" asp-route-id="@team.Id"
                                                class="btn btn-outline-secondary">
                                                Edit
                                            </a>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <partial name="_Partials/TablePagination" model="@Model.ListView" />
            </div>
        </div>
    </div>
</div>
